nav{
    background-color: aqua;
    color: black;
}
h3{
    color: chocolate;
}
h2{
    color: blueviolet;
}
li{
    margin: 0cm 0cm 8pt;
    color: #000000;
     line-height: normal; 
     font-style: normal; font-weight: normal;
}